<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mty.organ.mapper.AppointMapper" >

    <resultMap id="BaseResultMap" type="com.mty.organ.entity.Appoint">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="aid" jdbcType="VARCHAR" property="aid" />
        <result column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        aid,
        uid,
        create_time
    </sql>


    <!--根据ID查询-->
    <select id="queryById" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from appoint where id=#{id}
    </select>


    <select id="queryAllByLimit" resultType="com.mty.organ.entity.Appoint" parameterType="map">
        select
        a.id,
        a.aid,
        a.uid,
        a.create_time createTime,
        ac.name aname,
        ac.hours,
        ac.place,
        u.realname uname,
        o.name oname
        from appoint a left join activities ac on a.aid = ac.id left join user u on a.uid = u.id left join organ o on ac.oid = o.id
        <where>
            <if test="id != null and id != '' ">
                and a.id = #{id}
            </if>
            <if test="mid != null and mid != '' ">
                and ac.oid in (select o.id from organ o where o.uid = #{mid})
            </if>
            <if test="aname != null and aname != '' ">
                and ac.name like concat('%',#{aname},'%')
            </if>
            <if test="aid != null and aid != '' ">
                and a.aid = #{aid}
            </if>
            <if test="uid != null and uid != '' ">
                and a.uid = #{uid}
            </if>
            <if test="createTime != null and createTime != '' ">
                and a.create_time = #{createTime}
            </if>
        </where>
        order by a.create_time desc
    </select>


    <select id="queryCondition" resultType="com.mty.organ.entity.Appoint">
        select
        a.id,
        a.aid,
        a.uid,
        a.create_time createTime,
        ac.name aname,
        u.realname uname,
        o.name oname
        from appoint a left join activities ac on a.aid = ac.id left join user u on a.uid = u.id
        <where>
            <if test="id != null and id != '' ">
                and a.id = #{id}
            </if>
            <if test="aid != null and aid != '' ">
                and a.aid = #{aid}
            </if>
            <if test="uid != null and uid != '' ">
                and a.uid = #{uid}
            </if>
            <if test="createTime != null and createTime != '' ">
                and a.create_time = #{createTime}
            </if>
        </where>
        order by a.create_time desc
    </select>


    <!--添加-->
    <insert id="insert" parameterType="com.mty.organ.entity.Appoint" keyProperty="id" useGeneratedKeys="true">
        insert into appoint (
            aid,
            uid,
            create_time
        )values(
            #{aid},
            #{uid},
            #{createTime}
        )
    </insert>


    <!--修改-->
    <update id="update" parameterType="com.mty.organ.entity.Appoint">
        update appoint
        <set>
            <if test="aid != null and aid != '' ">
                aid = #{aid},
            </if>
            <if test="uid != null and uid != '' ">
                uid = #{uid},
            </if>
        </set>
        where id = #{id}
    </update>


    <!--根据id删除-->
    <delete id="deleteById" >
        delete from appoint where id=#{id}
    </delete>


</mapper>
